<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>
</head>
<body>

    <div>
        <%=filmDetails.title%>
    </div>
    <img src = " https://image.tmdb.org/t/p/original/<%= filmDetails.poster_path%>" style="max-width:100px;width:100%">
    <div>
    Streaming :
    <% for(let elem of watchProvider) { %>
         <%=elem.provider_name%> 
    <% } %>
    </div>
    <div>
        Synopsis : <%=filmDetails.overview%>
    </div>
    <div>
        Durée : <%=filmDetails.runtime%> minutes
    </div>
    <div>
        Date de sortie : <%=filmDetails.release_date%>
    </div>
    <a href="/">Home</a>
   
    

       
</body>
</html>